*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 119px;
    background-color: rgb(44, 62, 80);
    color: white;
    font-size: 16px;
    font-family: Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    text-transform: uppercase;
    position: fixed;
    width: 100%;
    top: 0;
}
a.link{
    text-decoration: none;
    color: white;
}
.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    gap: 30px;
}
.nav li a{
    text-decoration: none;
    color: white;
}
